@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Poppins:wght@300;400;500;600&display=swap');
*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   list-style-type: none;
   text-decoration: none;
   border: none;
   outline: 0;
}
html{
   scroll-behavior: smooth;
}
body{
   font-family: 'Lato', sans-serif;
   line-height: 1.8;
   font-size: 15px;
   color: #898fa1;
}
h1,h2,h3,h4,h5,h6{
   font-weight: 700;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #11245A;

}
a{
   font-weight: 700;
   transition: all 0.4s ease;
}
img{
   width: 100%;
}
small{
   font-size: 12px;
   font-weight: 700;
   letter-spacing: 2px;
}
section{
   padding: 100px 100px;
}
.navbar{
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar .nav-link{
   font-size: 14px;
   text-transform: uppercase;
   letter-spacing: 1px;
}
.navbar-light .navbar-nav .nav-link.active{
   color: #E93B81;
}
.logo{
   color: #11245A;
   font-size: 1.4rem;
   text-transform: uppercase;
   letter-spacing: .5px;
}
.home{
   min-height: 100vh;
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
   background:linear-gradient(rgba(17,36,90,0.8),rgba(17,36,90,0.8)),url("../Assets/hero_img.jpg");
   display: flex;
   align-items: center;
}
.row div h1{
   font-weight: 700;
   letter-spacing: .6px;
   text-align: center;
}
.row div p{
   max-width: 550px;
   margin: auto;
   font-size: 1rem;
}
.row div .btn-brand {
   display: inline-block;
   background-color: #E93B81;
   outline: none;
   border:none;
   padding:10px 45px;
   color: #fff;
   font-family: 700;
   font-size: 1.2rem;
   letter-spacing: .5px;
   text-align: center;
   text-transform: uppercase;
}
.row div a:hover{
   border: none;
   color: rgb(240, 240, 240);
}
.row div a:active{
   border: none;
   outline: none;
}
.services-intro{
   text-align: center;
   margin-bottom: 60px;
}
.services-title{
   width: 130px;
   height: 2px;
   background-color: red;
   margin: 15px auto 0 auto;
}
.services-sub-title{
   font-size: 1.2rem;
   letter-spacing: 1px;
}
.services-icon{
   width: 80px;
   height: 60px;
   background-color: #E93B81;
   color: #fff;
   border-radius: 2px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   cursor: pointer;
   margin: 0 30px;
   flex: none;
}

.portfolio-item{
   overflow: hidden;
   position: relative;
}
.portfolio-item img, .portfolio-item .portfolio-overlay{
        transition: all .4s ease;
}
.portfolio-overlay{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color:rgba(17,36,90,0.8);
   display: flex;
   align-items: flex-end;
   padding:0 25px;
   opacity: 0;
}
.portfolio-overlay:hover{
   opacity: 1;
}
.portfolio-overlay div h3, h6{
   color: #fff;
}
.portfolio-item:hover img{
   transform: scale(1.1);
}

.feature .services-icon{
   width: 35px;
   height: 35px;
   border-radius: 100px;
   font-size: 1.5rem;
}
.team-members{
   background-color: #11245A;
}
.team-members .services-title{
   width: 70px;
   height: 2px;
   margin: 16px auto;
   background-color: rgba(255, 255, 255, 0.788);
}
.team-members .team-img img, .team-members .team-img .social-icons{
   transition: all 0.5s ease;
}
.team-members .team-img .team-icon{
   width: 100%;
   height: 60px;
   background-color: #E93B81;
   position: absolute;
   bottom: -60px;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}
.team-members .team-img .team-icon a{
   width:40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid rgb(240, 240, 240);
   font-size: 24px;
   color: #fff;
   gap: 10px;
   border-radius: 100px;
   margin-left: 5px;
}
.team-members .team-img .team-icon a:hover{
   background-color: #E93B81;
   color: #fff;

}
.team-members:hover  .team-img .team-icon{
   bottom: 0;
}
.team-members:hover img{
   transform: translateY(-60px);
}
.team-members .team-img .team-icon a i{
   font-size: 25px;
}
.team-members .team-img{
   overflow: hidden;
   position: relative;
}
.team-members.even{
   background-color: #162e6E;
}
.review .stars{
   color: #E93B81;
}
.review p{
   max-width: 720px;
}
.testimonials img{
  width: 65px;
  height: 65px;
  border-radius: 100px;
  transition: all 0.4s ease;
}
.testimonials .nav-pills .nav-link.active{
   background-color: transparent;
}
.testimonials .nav-pills .nav-link.active img{
   transform: scale(1.3);
}
.clients img{
   height: 35px;
}

form .form-control{
   border-radius: 0;
}
form .form-control:focus{
   box-shadow: none;
   border-color: #E93B81;
}
.cta{
   background-color: #E93B81;
}
.cta .cta-btn {
   background-color: #fff;
   color:#000;
   padding:10px 25px;
   display: inline-block;
   text-decoration: none;
   border-radius: 6px;
   text-transform: uppercase;
}
.cta .cta-btn:hover{
   color:rgb(24, 23, 23);
}
.footer-top{
   padding-top: 80px;
   padding-bottom: 30px;
}
.footer-bottom{
   padding:30px 0;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
}

footer .footer-link a,
footer .footer-icon a {
   color: #898fa1;
   text-decoration: none;
}
footer .footer-link a:hover,
footer .footer-icon a:hover{
   color: #E93B81;
}
footer .footer-icon a i{
   font-size: 25px;
   margin-left: 10px;
}
footer .footer-link a {
   display: block;
   font-weight: 400;
}